# ISTE 2022 Insights

I just had the curiosity to research the engagement of ISTE posts after our arrival (the class of 2025).

In [4]:
import pandas as pd
import matplotlib.pyplot as pyplot
import json
%matplotlib inline

In [6]:
f=open("data/q1.json")
q1 = json.load(f)
f.close()

In [21]:
q11 = pd.json_normalize(q1["feed_items"])

In [23]:
_q1 = q11[["media_or_ad.like_count","media_or_ad.taken_at","media_or_ad.comment_count","media_or_ad.id"]]
_q1

,media_or_ad.like_count,media_or_ad.taken_at,media_or_ad.comment_count,media_or_ad.id
0,70.0,1.651070e+09,5.0,2825703344821840301_7390080667
1,59.0,1.651045e+09,2.0,2825494429055265027_10247312710
2,NaN,NaN,NaN,NaN
3,82.0,1.650729e+09,2.0,2822843581984100655_17656227282
4,58.0,1.650983e+09,2.0,2824976630020416285_17656227282
5,97.0,1.650199e+09,2.0,2818398073938254549_7118111162
6,59.0,1.650175e+09,0.0,2818190918898067153_17656227282
7,49.0,1.649860e+09,7.0,2815551251024101158_10247312710
8,31.0,1.650017e+09,0.0,2816872016205358428_19224028436
9,37.0,1.649597e+09,0.0,2813341828629931895_7390080667
10,58.0,1.649675e+09,0.0,2814004301263794034_7118111162
11,39.0,1.649910e+09,1.0,2815975649376548170_19224028436

In [26]:
_q1.dropna(axis=0, inplace=True)
_q1

/tmp/ipykernel_1154/1039549476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q1.dropna(axis=0, inplace=True)

,media_or_ad.like_count,media_or_ad.taken_at,media_or_ad.comment_count,media_or_ad.id
0,70.0,1.651070e+09,5.0,2825703344821840301_7390080667
1,59.0,1.651045e+09,2.0,2825494429055265027_10247312710
3,82.0,1.650729e+09,2.0,2822843581984100655_17656227282
4,58.0,1.650983e+09,2.0,2824976630020416285_17656227282
5,97.0,1.650199e+09,2.0,2818398073938254549_7118111162
6,59.0,1.650175e+09,0.0,2818190918898067153_17656227282
7,49.0,1.649860e+09,7.0,2815551251024101158_10247312710
8,31.0,1.650017e+09,0.0,2816872016205358428_19224028436
9,37.0,1.649597e+09,0.0,2813341828629931895_7390080667
10,58.0,1.649675e+09,0.0,2814004301263794034_7118111162
11,39.0,1.649910e+09,1.0,2815975649376548170_19224028436

Now let us perform these functions on a batch of data files.

In [36]:
f = open("data/q2.json")
q2 = json.load(f)
f.close()
q2 = pd.json_normalize(q2["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q2 = q2[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q2.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/2194462506.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q2.dropna(axis=0, inplace=True)

In [37]:
f = open("data/q3.json")
q3 = json.load(f)
f.close()
q3 = pd.json_normalize(q3["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q3 = q3[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q3.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/2012256093.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q3.dropna(axis=0, inplace=True)

In [38]:
f = open("data/q4.json")
q4 = json.load(f)
f.close()
q4 = pd.json_normalize(q4["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q4 = q4[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q4.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/842941709.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q4.dropna(axis=0, inplace=True)

In [39]:
f = open("data/q5.json")
q5 = json.load(f)
f.close()
q5 = pd.json_normalize(q5["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q5 = q5[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q5.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/629327619.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q5.dropna(axis=0, inplace=True)

In [40]:
f = open("data/q6.json")
q6 = json.load(f)
f.close()
q6 = pd.json_normalize(q6["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q6 = q6[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q6.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/795358187.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q6.dropna(axis=0, inplace=True)

In [41]:
f = open("data/q7.json")
q7 = json.load(f)
f.close()
q7 = pd.json_normalize(q7["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q7 = q7[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q7.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/2577485863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q7.dropna(axis=0, inplace=True)

In [42]:
f = open("data/q8.json")
q8 = json.load(f)
f.close()
q8 = pd.json_normalize(q8["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q8 = q8[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q8.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/969634534.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q8.dropna(axis=0, inplace=True)

In [43]:
f = open("data/q9.json")
q9 = json.load(f)
f.close()
q9 = pd.json_normalize(q9["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q9 = q9[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q9.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/3129605296.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q9.dropna(axis=0, inplace=True)

In [44]:
f = open("data/q10.json")
q10 = json.load(f)
f.close()
q10 = pd.json_normalize(q10["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q10 = q10[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q10.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/870379334.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q10.dropna(axis=0, inplace=True)

In [45]:
f = open("data/q11.json")
q11 = json.load(f)
f.close()
q11 = pd.json_normalize(q11["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q11 = q11[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q11.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/2954780599.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q11.dropna(axis=0, inplace=True)

In [46]:
f = open("data/q12.json")
q12 = json.load(f)
f.close()
q12 = pd.json_normalize(q12["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q12 = q12[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q12.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/2211214653.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q12.dropna(axis=0, inplace=True)

In [47]:
f = open("data/q13.json")
q13 = json.load(f)
f.close()
q13 = pd.json_normalize(q13["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q13 = q13[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q13.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/2064321461.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q13.dropna(axis=0, inplace=True)

In [48]:
f = open("data/q14.json")
q14 = json.load(f)
f.close()
q14 = pd.json_normalize(q14["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q14 = q14[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q14.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/1812785603.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q14.dropna(axis=0, inplace=True)

In [49]:
f = open("data/q15.json")
q15 = json.load(f)
f.close()
q15 = pd.json_normalize(q15["data"]["user"]["edge_owner_to_timeline_media"]["edges"])
_q15 = q15[["node.edge_media_preview_like.count","node.taken_at_timestamp","node.edge_media_to_comment.count","node.id"]]
_q15.dropna(axis=0, inplace=True)

/tmp/ipykernel_1154/343567615.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _q15.dropna(axis=0, inplace=True)

Now, that we have done the heavy lifting i.e. data extraction let us dress it.

In [52]:
_qc = pd.concat([_q2, _q3,_q4,_q5,_q6,_q7,_q8,_q9,_q10,_q11,_q12,_q13,_q14,_q15], ignore_index=True)
_qc

,node.edge_media_preview_like.count,node.taken_at_timestamp,node.edge_media_to_comment.count,node.id
0,65,1645770572,2,2781247599309377085
1,57,1645691396,0,2780583428368406936
2,80,1645627200,0,2780044910982345011
3,59,1644915225,0,2774072433806667791
4,72,1644828209,0,2773342489157725894
...,...,...,...,...
163,28,1590372403,0,2316534080085092678
164,31,1589598651,0,2310043374034217332
165,29,1589163610,0,2306393944617674712
166,30,1589085173,0,2305736012905571426
167,33,1588879650,0,2304011958825698076

In [54]:
_q1.columns=['likes','time','comments','id']
_q1

    likes          time  comments                               id
0    70.0  1.651070e+09       5.0   2825703344821840301_7390080667
1    59.0  1.651045e+09       2.0  2825494429055265027_10247312710
3    82.0  1.650729e+09       2.0  2822843581984100655_17656227282
4    58.0  1.650983e+09       2.0  2824976630020416285_17656227282
5    97.0  1.650199e+09       2.0   2818398073938254549_7118111162
6    59.0  1.650175e+09       0.0  2818190918898067153_17656227282
7    49.0  1.649860e+09       7.0  2815551251024101158_10247312710
8    31.0  1.650017e+09       0.0  2816872016205358428_19224028436
9    37.0  1.649597e+09       0.0   2813341828629931895_7390080667
10   58.0  1.649675e+09       0.0   2814004301263794034_7118111162
11   39.0  1.649910e+09       1.0  2815975649376548170_19224028436

In [55]:
_qc.columns=['likes','time','comments','id']
_qc

     likes        time  comments                   id
0       65  1645770572         2  2781247599309377085
1       57  1645691396         0  2780583428368406936
2       80  1645627200         0  2780044910982345011
3       59  1644915225         0  2774072433806667791
4       72  1644828209         0  2773342489157725894
..     ...         ...       ...                  ...
163     28  1590372403         0  2316534080085092678
164     31  1589598651         0  2310043374034217332
165     29  1589163610         0  2306393944617674712
166     30  1589085173         0  2305736012905571426
167     33  1588879650         0  2304011958825698076

[168 rows x 4 columns]

In [56]:
_qc = pd.concat([_q1,_qc], ignore_index=True)
_qc

     likes          time  comments                               id
0     70.0  1.651070e+09       5.0   2825703344821840301_7390080667
1     59.0  1.651045e+09       2.0  2825494429055265027_10247312710
2     82.0  1.650729e+09       2.0  2822843581984100655_17656227282
3     58.0  1.650983e+09       2.0  2824976630020416285_17656227282
4     97.0  1.650199e+09       2.0   2818398073938254549_7118111162
..     ...           ...       ...                              ...
174   28.0  1.590372e+09       0.0              2316534080085092678
175   31.0  1.589599e+09       0.0              2310043374034217332
176   29.0  1.589164e+09       0.0              2306393944617674712
177   30.0  1.589085e+09       0.0              2305736012905571426
178   33.0  1.588880e+09       0.0              2304011958825698076

[179 rows x 4 columns]

In [60]:
from datetime import datetime
_qc['date']=_qc["time"].apply(datetime.fromtimestamp)
_qc

,likes,time,comments,id,date
0,70.0,1.651070e+09,5.0,2825703344821840301_7390080667,2022-04-27 14:35:09
1,59.0,1.651045e+09,2.0,2825494429055265027_10247312710,2022-04-27 07:40:05
2,82.0,1.650729e+09,2.0,2822843581984100655_17656227282,2022-04-23 15:53:19
3,58.0,1.650983e+09,2.0,2824976630020416285_17656227282,2022-04-26 14:31:18
4,97.0,1.650199e+09,2.0,2818398073938254549_7118111162,2022-04-17 12:40:53
...,...,...,...,...,...
174,28.0,1.590372e+09,0.0,2316534080085092678,2020-05-25 02:06:43
175,31.0,1.589599e+09,0.0,2310043374034217332,2020-05-16 03:10:51
176,29.0,1.589164e+09,0.0,2306393944617674712,2020-05-11 02:20:10
177,30.0,1.589085e+09,0.0,2305736012905571426,2020-05-10 04:32:53
178,33.0,1.588880e+09,0.0,2304011958825698076,2020-05-07 19:27:30

Superb! Now the data looks good. Now we will start visualizing the data.

Our latest data is about post on 27 March 2022, and the oldest one of 7 May 2020. Enough data I think.

In [65]:
od = _qc[_qc["time"]>1648386886]

In [1]:
pyplot.title("Likes after 28th March")
pyplot.bar(range(len(od)),od['likes'].iloc[::-1])
pyplot.xticks(range(len(od)),od['date'].iloc[::-1])
pyplot.xlabel("Dates")
pyplot.ylabel("Number of likes.")
pyplot.show()

NameError: name 'pyplot' is not defined